

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bs-primary: #3999a1;
  --bs-secondary: #430a4e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --bs-primary: #3999a1;
    --bs-secondary: #430a4e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

Card:hover{
  transform: translateY(-4px);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
  transition: all 0.2s ease;
}

.theme-bg-primary {
  background-color: var(--bs-primary) !important;
}

.theme-bg-secondary {
  color: var(--bs-secondary) !important;
}
